@charset "utf-8";
/* CSS Document */


@media only screen and (min-width:768px) and (max-width: 1024px)  and (orientation :landscape)  {

    .a2 {
        font-size: 15px;}

    .a31 {
        padding:0px; 
    }	
    .a32 {
        padding: 0px 20px;
    }
    h1.b5 {margin-left: 23px;}

}

@media only screen and (min-width:768px) and (max-width: 1024px)  and (orientation : portrait)  {

    .a2 {
        font-size: 25px;
    }
    #b1 { text-align:center;}

    span.b2 {
        color: #fff;
        font-size: 26px;
    }
    input.b3 {
        background-color: #002e5d;
        padding: 12px 45px;
        color: #fff;
        font-size: 17px;
    }
    .a3 {
        font-size: 18px;}

    .a31 {
        font-size: 16px;}

    #b7 {
        margin: 0px -22px;}
    div#a21 img {
        width: 100%;
    }

    h1.b5 {margin-left: 276px;}
    div#b4 img {
        width: 100%;
    }

    #b4 {
        margin: 0px -24px;
    }
    #b1 {
        text-align: center;
        margin: 0px -18px 0px -24px;
    }


}



@media only screen and (min-width:375px) and (max-width: 667px)  and (orientation :landscape)  {


    h1.b5 {
        margin-left: 221px;
    } 
    #b1 {
        text-align: center;
    }  
    #b7 {
        margin: 0px 0px 0px -14px;
    }
    div#a21 img {
        width: 100%;
    }
    #b4 {
        margin: 0px -16px;
    }
    #b1 {
        text-align: center;
        margin: 0px -15px 0px -16px;
    }
    div#b4 img {
        width: 100%;
    }

}

@media only screen and (min-width:375px) and (max-width: 568px)  and (orientation : portrait)  {


    h1.b5 {
        margin-left:86px;
    }   

}




@media only screen and (min-width:320px) and (max-width: 568px) and (orientation : landscape)  {
    #a21 img {
        width: 100%;
    }

    #b7 {
        margin: 0px 0px 0px -14px;
    }

    h1.b5 {
        margin-left: 192px;
    }


    #b1 {
        padding: 24px 5px;
        text-align: center;
    }
    #b4 {
        margin: 0px -16px;
    }
    #b1 {
        text-align: center;
        margin: 0px -15px 0px -16px;
    }

}


@media only screen and (min-width:320px) and (max-width: 568px) and (orientation : portrait)  {

    #b1 {
        text-align: center;
    } 

    #b7 {
        margin: 0px 0px 0px -14px;
    }
    h1.b5 {
        margin-left: 60px;
    }   
}

@media only screen and (min-width:320px) and (max-width: 480px) and (orientation : landscape)  {
    #a21 img {
        width: 100%;
    }

    #b7 {
        margin: 0px 0px 0px -14px;
    }

    h1.b5 {
        margin-left: 137px;
    }


    #b1 {
        padding: 24px 5px;
        text-align: center;
    }

    #b4 {
        margin: 0px -16px;
    }
    #b1 {
        text-align: center;
        margin: 0px -15px 0px -16px;
    }

}


@media only screen and (min-width:320px) and (max-width: 480px) and (orientation : portrait)  {

    #b1 {
        text-align: center;
    } 

    #b7 {
        margin: 0px 0px 0px -14px;
        width: 111%;
    }
    h1.b5 {
        margin-left: 60px;
    }   

    #b4 {
        margin: 0px -16px;
    }
    #b1 {
        text-align: center;
        margin: 0px -15px 0px -16px;
    }


}




@media only screen and (max-device-width: 375px) {
    h1.b5 {
        margin-left:86px;
    }  
}


@media only screen and (max-device-width: 320px) {
    h1.b5 {
        margin-left:60px;
    }  
}

