@charset "utf-8";
/* CSS Document */




@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) 
{

}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) 
{

}



@media only screen and (min-width :320px) and (max-width : 480px) and (orientation : portrait) 
{
    img.pal {
        margin: 0px 44px !important;
        height: 80px;
    }

}



@media only screen and (min-width :320px) and (max-width : 480px) and (orientation : landscape) 
{

}


@media only screen and (min-width :320px) and (max-width : 568px) and (orientation : landscape) 
{

}

@media only screen and (min-width :375px) and (max-width : 667px) and (orientation : landscape) 
{

}