#masthead .menu, #masthead.menu, #navbar-slide.menu {
    font-weight: 400;
}
#masthead .menu .dropdown-menu, #masthead.menu .dropdown-menu, #navbar-slide.menu .dropdown-menu {
    font-size: 14px;
}
.menu .navbar-brand {
    font-weight: 300;
    font-size: 24px;
}

.navbar-brand {
    padding: 0;
    line-height: 130px;
    height: 130px;
}
.logo-navbar .nav > li > a {
    padding-top: 53px;
    padding-bottom: 53px;
    line-height: 24px;
}
.logo-navbar .nav > li > a:before {
    margin-bottom: - 24.5px;
}
.logo-navbar .nav > li.active > a:before, .logo-navbar .nav > li > a:hover:before, .logo-navbar .nav > li.current-page-parent > a:before, .logo-navbar .nav > li.current-menu-parent > a:before, .logo-navbar .nav > li.current-page-ancestor > a:before, .logo-navbar .nav > li.current-menu-ancestor > a:before {
    opacity: 1;
    margin-bottom: - 26.5px;
}
#masthead.navbar {
    min-height: 130px;
}
.navbar-toggle {
    margin-top: 57px;
    margin-bottom: 57px;
}
#masthead .dropdown-menu {
    min-width: 220px;
}
/*@media (min-width:992px) {
    #masthead.navbar-scrolled {
        min-height: 100px;
    }
    #masthead.navbar-scrolled .navbar-brand {
        line-height: 100px;
        height: 100px;
    }
    #masthead.navbar-scrolled .logo-navbar .navbar-nav > li > a {
        padding-top: 38px;
        padding-bottom: 38px;
    }
    #masthead.navbar-scrolled .logo-navbar .navbar-text, #masthead.navbar-scrolled .logo-navbar .sidebar-widget {
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .navbar-scrolled .navbar-toggle {
        margin-top: 42px;
        margin-bottom: 42px;
    }
    #masthead .logo-navbar .search-close {
        top: 0;
        height: 130px;
        width: 130px;
    }
    #masthead .logo-navbar .form-control {
         so that bottom border shows height: 129px;
    }
    #masthead.navbar-scrolled .logo-navbar .menu-sidebar .search-close {
        top: 0;
        height: 100px;
        width: 100px;
    }
    #masthead.navbar-scrolled .logo-navbar .form-control {
        height: 100px;
    }
    .logo-navbar .navbar-text, .logo-navbar .sidebar-widget {
        line-height: 24px;
        padding-top: 53px;
        padding-bottom: 53px;
    }
}*/
#navbar-slide {
    width: 220px;
}
#navbar-slide .navbar-nav {
    max-height: 600px;
}
#navbar-slide .navbar-brand {
    height: 130px;
}
.slide-on #masthead, .slide-on #content, .slide-on #navbar-slide, .slide-on .top-bar {
    -webkit-transform : translateX(-220px);
    -moz-transform : translateX(-220px);
    -ms-transform : translateX(-220px);
    -o-transform : translateX(-220px);
    transform : translateX(-220px);
}
/*@media (max-width:991px) {
    #navbar-slide .navbar-nav {
        max-height: 60%;
    }
}*/

#masthead {
    box-shadow: 0px 1px 0px rgba(4,  4,  4,  0.07),  0px -1px 0px rgba(4,  4,  4,  0.07);
}
.menu {
    color: #1e2122;
    background: #fff;
}
.menu .navbar-text {
    color: #1e2122;
}
.menu .navbar-brand {
    color: #1c1c1c;
}
.menu .navbar-brand:hover {
    color: #1c1c1c;
}
.menu a {
    color: #3c3c3c;
}
.menu a:before {
    height: 0px;
}
.menu .nav > li > a {
    color: #FFFFFF;
}
.menu .nav > li > a:hover, .menu .nav > li > a:focus {
    color: #242424;
    background: none;
}
.menu .nav > li > a:hover:before, .menu .nav > li > a:focus:before {
    opacity: 1;
    width: 100%;
    background-color: #FFFFFF;
}
.menu a .menu-icon {
    color: inherit;
}
.navbar-toggle {
    background: none !important;
}
.navbar-toggle .icon-bar {
    background-color: #3c3c3c;
}
.navbar-toggle:hover {
    background: none;
}
.menu .nav > .active > a, .menu .nav > .current-menu-parent > a, .menu .nav > .current-menu-ancestor > a, .menu .nav > .current-menu-item > a, .menu .nav > .current-menu-item > a:focus, .menu .nav > .current-page-parent > a, .menu .nav > .active > a:focus, .menu .nav li.dropdown.open > .dropdown-toggle, .menu .nav li.dropdown.active > .dropdown-toggle, .menu .nav li.dropdown.open.active > .dropdown-toggle {
    color: #FFFFFF;
}
.menu .nav > .active > a:after, .menu .nav > .current-menu-parent > a:after, .menu .nav > .current-menu-ancestor > a:after, .menu .nav > .current-menu-item > a:after, .menu .nav > .current-menu-item > a:focus:after, .menu .nav > .current-page-parent > a:after, .menu .nav > .active > a:focus:after, .menu .nav li.dropdown.open > .dropdown-toggle:after, .menu .nav li.dropdown.active > .dropdown-toggle:after, .menu .nav li.dropdown.open.active > .dropdown-toggle:after {
    border-radius: 0px;
}
.menu .nav > .active > a:hover, .menu .nav > .current-menu-parent > a:hover, .menu .nav > .current-menu-ancestor > a:hover, .menu .nav > .current-menu-item > a:hover, .menu .nav > .current-menu-item > a:focus:hover, .menu .nav > .current-page-parent > a:hover, .menu .nav > .active > a:focus:hover, .menu .nav li.dropdown.open > .dropdown-toggle:hover, .menu .nav li.dropdown.active > .dropdown-toggle:hover, .menu .nav li.dropdown.open.active > .dropdown-toggle:hover {
    color: #242424;
}
.menu .nav > .disabled > a {
    opacity: 0.8;
}
.menu .dropdown-menu {
    background-color: rgba(255,  255,  255,  0.95);
    -webkit-box-shadow : 0px 2px 4px rgba(0,  0,  0,  .1),  0px 3px 0px #FFFFFF inset;
    -moz-box-shadow : 0px 2px 4px rgba(0,  0,  0,  .1),  0px 3px 0px #FFFFFF inset;
    -ms-box-shadow : 0px 2px 4px rgba(0,  0,  0,  .1),  0px 3px 0px #FFFFFF inset;
    -o-box-shadow : 0px 2px 4px rgba(0,  0,  0,  .1),  0px 3px 0px #FFFFFF inset;
    box-shadow : 0px 2px 4px rgba(0,  0,  0,  .1),  0px 3px 0px #FFFFFF inset;
}
.menu .dropdown-menu > li > a {
    color: #1e2122;
}
.menu .dropdown-menu > li > a .menu-icon {
    color: inherit;
}
.menu .dropdown-menu > li > a:hover, .menu .dropdown-menu > .active > a, .menu .dropdown-menu > .active > a:hover, .menu .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background: #000;
}
.menu .nav > li > .dropdown-menu:after, .menu .nav > li > .dropdown-menu:before {
    display: none;
}
.menu .dropdown-submenu > a:after {
    border-left-color: #1e2122 !important;
}
.menu .dropdown-menu .divider {
    background-color: rgba(0,  0,  0,  .055);
}
.nav-highlight > a, .nav-highlight-ghost > a {
    border-radius: 0px;
}
.nav-highlight > a:after, .nav-highlight-ghost > a:after {
    border-radius: 0px;
}
.menu .nav-highlight > a {
    color: #fff !important;
}
.menu .nav-highlight > a:after {
    background: #3c3c3c;
}
.menu .nav-highlight > a:hover {
    color: #fff !important;
}
.menu .nav-highlight > a:hover:after {
    background: #FFFFFF;
}
.menu .nav-highlight.active > a {
    color: #fff !important;
}
.menu .nav-highlight.active > a:after {
    background: #FFFFFF;
}
.menu .nav-highlight.active > a:hover {
    color: #fff !important;
}
.menu .nav-highlight.active > a:hover:after {
    background: #FFFFFF;
}
.menu .nav-highlight .menu-icon {
    color: #fff;
}
.menu .nav-highlight-ghost > a {
    color: #3c3c3c;
}
.menu .nav-highlight-ghost > a:after {
    border: 1px solid #3c3c3c;
}
.menu .nav-highlight-ghost > a:hover {
    color: #FFFFFF;
}
.menu .nav-highlight-ghost > a:hover:after {
    border: 1px solid #FFFFFF;
}
.menu .nav-highlight-ghost.active > a {
    color: #FFFFFF;
}
.menu .nav-highlight-ghost.active > a:after {
    border: 1px solid #FFFFFF;
}
.menu .nav-highlight-ghost.active > a:hover {
    color: #FFFFFF;
}
.menu .nav-highlight-ghost.active > a:hover:after {
    border: 1px solid #FFFFFF;
}
.search-trigger, .search-trigger:hover {
    color: #1e2122;
}
.search-trigger:before {
    border-color: #1e2122;
    color: #1e2122;
}
.search-trigger:after {
    background: #1e2122;
}
.top-search.active .search-trigger:before {
    background: #1e2122;
}
.top-search.active .search-trigger:after {
    background: #1e2122;
}
.header-logo-center-menu-below .container-logo, .header-logo-left-menu-below .container-logo, .header-logo-right-menu-below .container-logo, .header-logo-left-sidebar-right .container-logo {
    background: #fff;
    box-shadow: 0px 1px 0px rgba(4,  4,  4,  0.07);
}
.header-logo-center-menu-below .navbar-brand, .header-logo-left-menu-below .navbar-brand, .header-logo-right-menu-below .navbar-brand, .header-logo-left-sidebar-right .navbar-brand {
    color: #4c4c4c;
}
.header-logo-center-menu-below .navbar-brand:hover, .header-logo-left-menu-below .navbar-brand:hover, .header-logo-right-menu-below .navbar-brand:hover, .header-logo-left-sidebar-right .navbar-brand:hover {
    color: #4c4c4c;
    opacity: 0.9;
}
.header-logo-center-menu-below .logo-navbar, .header-logo-left-menu-below .logo-navbar, .header-logo-right-menu-below .logo-navbar, .header-logo-left-sidebar-right .logo-navbar {
    color: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar a, .header-logo-left-menu-below .logo-navbar a, .header-logo-right-menu-below .logo-navbar a, .header-logo-left-sidebar-right .logo-navbar a {
    color: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .navbar-toggle .icon-bar, .header-logo-left-menu-below .logo-navbar .navbar-toggle .icon-bar, .header-logo-right-menu-below .logo-navbar .navbar-toggle .icon-bar, .header-logo-left-sidebar-right .logo-navbar .navbar-toggle .icon-bar {
    background: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .logo-sidebar .sidebar-widget, .header-logo-left-menu-below .logo-navbar .logo-sidebar .sidebar-widget, .header-logo-right-menu-below .logo-navbar .logo-sidebar .sidebar-widget, .header-logo-left-sidebar-right .logo-navbar .logo-sidebar .sidebar-widget, .header-logo-center-menu-below .logo-navbar .logo-sidebar .sidebar-widget i, .header-logo-left-menu-below .logo-navbar .logo-sidebar .sidebar-widget i, .header-logo-right-menu-below .logo-navbar .logo-sidebar .sidebar-widget i, .header-logo-left-sidebar-right .logo-navbar .logo-sidebar .sidebar-widget i {
    color: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .search-trigger, .header-logo-left-menu-below .logo-navbar .search-trigger, .header-logo-right-menu-below .logo-navbar .search-trigger, .header-logo-left-sidebar-right .logo-navbar .search-trigger, .header-logo-center-menu-below .logo-navbar .search-trigger:hover, .header-logo-left-menu-below .logo-navbar .search-trigger:hover, .header-logo-right-menu-below .logo-navbar .search-trigger:hover, .header-logo-left-sidebar-right .logo-navbar .search-trigger:hover {
    color: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .search-trigger:before, .header-logo-left-menu-below .logo-navbar .search-trigger:before, .header-logo-right-menu-below .logo-navbar .search-trigger:before, .header-logo-left-sidebar-right .logo-navbar .search-trigger:before {
    border-color: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .search-trigger:after, .header-logo-left-menu-below .logo-navbar .search-trigger:after, .header-logo-right-menu-below .logo-navbar .search-trigger:after, .header-logo-left-sidebar-right .logo-navbar .search-trigger:after {
    background: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .top-search.active .search-trigger:before, .header-logo-left-menu-below .logo-navbar .top-search.active .search-trigger:before, .header-logo-right-menu-below .logo-navbar .top-search.active .search-trigger:before, .header-logo-left-sidebar-right .logo-navbar .top-search.active .search-trigger:before {
    background: #4c4c4c;
}
.header-logo-center-menu-below .logo-navbar .top-search.active .search-trigger:after, .header-logo-left-menu-below .logo-navbar .top-search.active .search-trigger:after, .header-logo-right-menu-below .logo-navbar .top-search.active .search-trigger:after, .header-logo-left-sidebar-right .logo-navbar .top-search.active .search-trigger:after {
    background: #4c4c4c;
}
.menu .sidebar-widget {
    color: #1e2122;
}
.menu .sidebar-widget .sidebar-header {
    color: #1e2122;
}
.menu .sidebar-widget i {
    color: #1e2122;
}
/*@media (min-width:992px) {

    .menu-item-object-oxy_mega_menu {
        color: #1e2122;
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a {
        color: #1e2122;
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
        color: #FFFFFF;
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a {
        color: #FFFFFF;
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li > p {
        border-bottom-color: rgba(0,  0,  0,  .055);
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
        background: rgba(0,  0,  0,  .055);
    }
}
@media (max-width:991px) {
    .menu .navbar-collapse {
        box-shadow: inset 0 1px 0 rgba(0,  0,  0,  .055);
    }
    .menu .nav > li > a {
        border-radius: 0;
    }
    .menu .open .dropdown-menu {
        background: rgba(255,  255,  255,  0.95);
        border-radius: 0;
        box-shadow: none;
    }
    .menu .open .dropdown-menu > li > a {
        border-radius: 0;
    }
    .menu .open .dropdown-menu > li > a:hover, .menu .open .dropdown-menu > li > a:focus, .menu .open .dropdown-menu > li.active > a {
        color: #FFFFFF;
    }
    .dropdown-submenu > a:after {
        border-left-color: transparent !important;
        border-top-color: #1e2122 !important;
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
        color: #FFFFFF;
    }
    .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
        display: none;
    }
}*/