body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    padding: 0px 15px;
}

.nav-bg {
    background-color: rgba(147, 214, 250, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    background-image: url(img/ironpatern.png);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: transparent;
}

.nav-c  li a {
    color: #fff !important;
    font-size: 18px;
    margin-top: 5px;
}
.nav-c  li a:hover {
    color: #242424 !important;
    transition: width 2s;
    transition: width 2s, height 4s;
}
.main_div {
    background-image: url(img/bg.png);
    background-repeat: repeat;
    margin-top: 60px;
    border-top: 15px solid #000;
}
.panel-body {
    // background-image: url(img/bg.png);
}

.welcome_info {
    background-color: #9d9d9d;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}
.panel-heading {
    font-weight: bold;
    //text-align: center;
}

.active_c {
    background-color: #ddd;
    font-weight: bold;
    font-size: 18px
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}
.breadcrumb {
    padding: 0px 5px;
    margin: 5px 0px;
}
.body-reg-bld {
    font-weight: bold;
}
.body-reg-sml {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.form-comment {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.hr_custom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome_service {
    top: 0;
    height: 319px;
    border: 4px solid rgba(147, 214, 250, 1);
    background-color:#808080;
    border-radius: 0;
}

.welcome_service_text {
    margin-left: 33px;
    margin-right: 33px;
    left: 3px;
    top: 30px;
    position: absolute;
    word-wrap: break-word;
    line-height: 1.4em;
    text-align: center;
    font: normal normal normal 17px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: #242424;
    padding:10px;
    font-size: 15px;
}

.body-background {
    background-color: rgba(147, 214, 250, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    background-image: url(http://qtx.in/assignment/assets/css/img/ironpatern.png);
}

.video-style {
    text-align: center;
    border: 0px solid rgba(50, 65, 88, 1);
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0;
    color: #fff;
    padding: 8px;
    line-height: normal; 
    letter-spacing: normal;
    font-family: play,sans-serif;
    font-size: 22px;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 4px;
    /*font-size: 36px;*/
    color: #444;
    transition: all .2s;
    cursor: pointer;
}

/*input.star-5:checked ~ label.star:before{
    color: #FE7;
    text-shadow: 0 0 20px #952;
}*/
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.btn-success {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.btn-success:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
}

.required {
    color :red;
}

.datepicker.datepicker-dropdown {
    z-index: 41125 !important;
}

.payment-line {
    border-right: 1px solid #2eaef0;
    margin-right: 80px;
    border-width: 3px;
    padding-top: 302px !important;
}