@charset "utf-8";
/* CSS Document */

/*@font-face{
    font-family: 'PT Serif', serif;
    src:url("http://www.myfontfree.com/data/200/p/palatino-linotype/Palatino Linotype.ttf");
}
*/

.comming-soon {
    height: 100%;
}


.rt{
    background-color:#b3b3b3;margin-left: -17px;
}
#main_c{
    background-color:#8b8b8b;
}

.a1{
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: normal;
}
.a2{
    font-size:16px;
    text-align:center;
    padding:0px 20px;
    line-height:28px; 
    font-family:'PT Serif', serif;
    color: #000000;
}
.a3{color: #fff;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 11px 0px;
    width: 82%;
    margin: auto;
    text-transform: capitalize;
}
.a31{
    font-size:10px !important; 
    text-align:center;
    width: 100%;
    padding: 10px;
}
.a32 {
    font-size: 28px;
    text-align: center;
    color: #fff;
    padding: 17px 20px;
    font-family: 'Play', sans-serif;
}

#a11 {
    border: 4px solid #93d6fa;
    border-top: none;
}	

#a21 {
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
}

#a22 {

    border-right: 4px solid #000;
    border-bottom: 4px solid #93d6fa;
}

#b1{
    background-color:#93d6fa; 
    border:4px solid #000; 
    padding: 11px 5px; 
    margin:0px; 
    margin-right: 2px;
}

div.b2 {
    color: #fff;
    font-size: 20px;
    font-family:'PT Serif', serif;
    padding-top: 5px;
}
input.b3 {
    background-color: #002e5d;
    padding: 4px 45px;
    color: #fff;
    font-size: 14px;
    font-family:'PT Serif', serif;
    font-size: 20px;
}

.sign-hover:hover {
    background-color: #fff;color:#000;
}

.line {
    background-color:#000;
    height:5px;    
    width: 100%;
    margin:auto;
}

#b4 {
    margin:0px;
}	

h1.b5 {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background: rgba(147, 214, 250, 1)  url('images/s.png')center top repeat-x;
    padding: 65px 20px 10px 23px;
    font-size: 20px;
    text-align: center;
    border: solid rgba(0, 46, 93, 1) 1px;
    margin-left: 45px;
    font-family:'PT Serif', serif;
}
p.b6 {
    text-align: center;
    font-size: 19px;
    margin: 0px 25px;
    font-family: 'Play', sans-serif;
}
#b7{
    background:#b3b3b3; margin: 0px 2px 0px 0px; padding: 25px 0px;
}

.col-md-12.b21 {
    background-color: #fff;
    height: 40px;
    margin-top: 18%;
}

.login-sign-style {
    color:#000 !important;
    font-family:'PT Serif', serif;
    font-size: 17px;
}

.footer-copyright {
    font-size: 12px;
    color:#747474;
}

/*  faq page   */

.accordion a {
    text-decoration: none;
    font-size: 18px;
    font-family:'PT Serif', serif;
    color: #222;
    padding: 20px 2px 20px 21px;
    display: block;
    cursor: pointer;
    background: url('../images/open.gif') no-repeat center right;
}

.pageContent { width: 100%; }
.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; border: 1px solid #17a; border-top: none; border-left: none; }
.accordion ul { padding: 0; margin: 0; float: left; display: block; width: 100%; }
.accordion li { background: #c7e1e6; cursor: pointer; list-style-type: none;padding: 0px 31px 0px 14px; margin: 0; float: left; display: block; border-bottom:                    2px solid #9fb2b6; width: 100%;}
.accordion li.active>a { background: url('../images/close.gif') no-repeat center right; }
.accordion li div { padding: 20px; background: #c7e1e6; display:none; clear: both; float: left; width:100%;}


/* Level 2 */
.accordion li ul li { background: #7FD2FF; font-size: 0.9em; }

.f_text {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 14px 0px 4px 0px;
    font-size: 23px;
    /*border-top: 5px solid #c7e1e6;*/
}

.tx {
    font-size: 16px;
    margin-top: -20px;
}

/* end faq page   */


/*  about page   */

.pat {
    background-color: #a8a8a8;
    height: 1940px;
}

.f1 {
    font-size: 23px;
    padding: 30px 50px;
    text-align: Center;
    font-family: 'Play', sans-serif;
}

.f1_text {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 23px;
    border-top: 5px solid #a8a8a8;
    font-family: 'Play', sans-serif;

}


.f2_text {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 23px;
    font-family: 'Play', sans-serif;
}

p.pa {
    font-size: 29px;
    color: #fff;
    width: 234px;
    height: 234px;
    border-radius: 100%;
    background: rgba(147, 214, 250, 1) url('images/s.png')center top repeat-x;
    text-align: center;
    border: solid rgba(0, 46, 93, 1) 1px;
    padding: 75px 0px;
    margin-left: 14px;
}
.fl {
    width: 48px;
    height: 20px;
    margin: 90px 0px -86px 0px;
    background-color: #93d6fa;
    border: solid rgba(0, 46, 93, 1) 1px;
}

.f3_text {
    background-color: #000;
    padding: 0px 0px 7px 0px;
}


i.fa.fa-comment {
    font-size: 43px;
    color: #fff;
    padding: 21px 49px;}
i.fa.fa-clock-o {
    font-size: 43px;
    color: #fff;
    padding: 21px 52px;
}	  

i.fa.fa-file {
    font-size: 43px;
    color: #fff;
    padding: 21px 52px;
}
i.fa.fa-laptop {
    font-size:46px;
    color: #fff;}
i.fa.fa-usd {
    /*    padding: 21px 60px;
        font-size: 43px;*/
    color: #fff;
}

i.fa.fa-mobile {
    font-size:46px;
    color: #fff;}
.post_dc2 {
    text-align: center;
    padding: 20px 0px;
}

/*.col-md-5 img {
    margin: 65px 46px 0px 46px;
}*/

.col-md-2 img {
    padding-bottom: 30px;
}

.bt {
    background-color: #fff;
    height: 18px;
}

p.or {
    font-size: 39px;
    text-align: center;
    padding-top: 320px !important;
    font-family: 'PT Serif', serif;
}	

p.pda {
    font-size: 12px;
    padding: 10px 10px;
    text-align: Center;
    font-weight: bold;
    line-height: 30px;
    margin-left: -26px;
    font-family: play,sans-serif;
    color: #000000;
}	  

p.pt {
    color: #fff;
    text-align: center;
    font-size: 26px;
}	

.post_dc {
    width: 140px;
    height: 140px;
    background-color: #002e5d;
    border-radius: 24px;
}

.post_dc1 {
    width: 140px;
    height: 140px;
    background-color: #a9b56e;
    border-radius: 24px;
}


i.fa.fa-long-arrow-right {
    font-size: 94px;
    stroke: solid rgba(0, 46, 93, 1) 1px;
    color: #93D6FA;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #002e5d;
    padding: 19px 0px 0px 0px;
    margin-left: -25px;
}

p.m1 {
    float: left;
    padding: 2px 22px;
}
ul.who {
    font-size: 13px;
    padding: 6px 39px 7px 74px;
    font-family: 'PT Serif', serif;
}

.left_b h5 {
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-family:'PT Serif', serif;
}


p.m2 {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}
.left_b {
    margin: 30px 37px;
    padding: 32px 7px;
    background-color: #93d6fa;
    border: solid rgba(0, 46, 93, 1) 1px;
    height: 330px;
}
p.or_1 {
    font-size: 24px;
    text-align: center;
    /* padding-top: 162px; */
    margin-top: 172px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
img.pal {
    margin: 19px 55px;
    padding-top: 30px;
}
ul.paym li {
    /* display: inline-flex; */

    /* text-decoration: none; */
    float: left;
    display: block;padding: 10px 9px;
}
/*  end about page   */
/*
@media (min-width: 992px) {
    .navbar-nav>li {
        float: left;
        padding: 0px 20px 0px 20px;
    }
}
*/
.border-left{
    margin-left:100px;
}

.header-bg-top {
    background-color: rgba(147, 214, 250, 1) !important;
    background-image: url(img/ironpatern.png) !important;
}
.header-bg-bottom {
    background-color: rgba(147, 214, 250, 1) !important;
    box-shadow: 0px 1px 0px 0px !important;
    background-image: url(img/ironpatern.png) !important;
}

.post_a {
    background-color: #93D6FA;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 1px solid #3E6182;
}

.eligible-row {
    background-color:#D1D1D1;
    width: 100%; 
    margin-left: 1px;
    margin-top: -10px;
    height:320px;
}

.godaddy {
    margin-bottom:18px;
    margin-right: 73px;
}